<div class="col-sm-3">
    <div class="col-item">
        <div class="photo">
            <img ng-src="{{product.imageUrl}}" class="img-responsive" alt="a" />
        </div>
        <div class="info">
            <div class="row">
                <div class="price col-md-6">
                    <h5>
                        {{product.productName}}</h5>
                    <h5 class="price-text-color">
                        {{product.price | currency}}</h5>
                </div> 
                <div class="rating hidden-sm col-md-6">
                 <star-rating rating="product.starRating" cssclass="price-text-color"></star-rating>
                </div>
            </div>
            <div class="separator clear-left">
                <p class="btn-add">
                    <i class="fa fa-shopping-cart"></i>
                    <a ng-click="addToCart(product.productId)" href="" class="hidden-sm">Add to cart</a></p>
                <p class="btn-details">
                    <i class="fa fa-list"></i>
<!--                     <a ui-sref="productsDetail({id:product.productId})" class="hidden-sm">More details</a></p>
 -->              <a ui-sref="productsDetail({id:'5831cb79e1146c0013518dd5'})" class="hidden-sm">More details</a></p>

 </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
</div>