<div class="container">
  <div class="row main">
    <div class="panel-heading">
      <div class="panel-title text-center">
        <h1 class="title">eComm Registration</h1>
        <hr />
      </div>
    </div>
    <div class="main-login main-center">
      <form name="companyForm" ng-submit="signup(company)" novalidate class="form-horizontal">

        <div class="form-group">
          <label for="name" class="cols-sm-2 control-label">Your Company Name</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="name" id="name" ng-required="true" ng-model="company.name"  placeholder="Enter your Company Name"/>
            </div>
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : companyForm.email.$invalid && !companyForm.email.$pristine }">
          <label for="email" class="cols-sm-2 control-label">Your Email</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
              <input type="email" class="form-control" name="email" id="email" ng-required="true" ng-model="company.email" placeholder="Enter your Email"/>
            </div>
            <p ng-show="companyForm.email.$invalid && !companyForm.email.$pristine" class="help-block">Enter a valid email.</p>
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : companyForm.username.$invalid && !companyForm.username.$pristine }">
          <label for="username" class="cols-sm-2 control-label">Username</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="username" id="username" ng-required="true" ng-minlength="4" ng-maxlength="10" ng-model="company.username"  placeholder="Enter your Username"/>
            </div>
            <p ng-show="companyForm.username.$error.minlength" class="help-block">Username is too short.</p>
            <p ng-show="companyForm.username.$error.maxlength" class="help-block">Username is too long.</p>
            <p ng-show="companyForm.username.$error.required && !companyForm.username.$pristine" class="help-block">Username is required.</p>
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : (companyForm.password.$invalid || company.password != company.co_password) && !companyForm.password.$pristine }">
          <label for="password" class="cols-sm-2 control-label">Password</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input type="password" class="form-control" name="password" id="password" ng-required="true" ng-minlength="4" ng-maxlength="10" ng-model="company.password"  placeholder="Enter your Password"/>
            </div>
            <p ng-show="companyForm.password.$error.minlength" class="help-block">Password is too short.</p>
            <p ng-show="companyForm.password.$error.maxlength" class="help-block">Password is too long.</p>
            <p ng-show="company.password != company.co_password && !companyForm.password.$pristine" class="help-block">Password != confirm password.</p>
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : (companyForm.co_password.$invalid || company.password != company.co_password) && !companyForm.co_password.$pristine}">
          <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input type="password" class="form-control" name="co_password" id="confirm" ng-required="true" ng-minlength="4" ng-maxlength="10" ng-model="company.co_password"  placeholder="Confirm your Password"/>
            </div>
            <p ng-show="companyForm.co_password.$error.minlength" class="help-block">Password is too short.</p>
            <p ng-show="companyForm.co_password.$error.maxlength" class="help-block">Password is too long.</p>
            <p ng-show="company.password != company.co_password && !companyForm.co_password.$pristine" class="help-block">Password != confirm password.</p>
          </div>
        </div>

        <div class="form-group">
          <label for="logo" class="cols-sm-2 control-label">Your Company Logo</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="logo" id="logo" ng-model="company.logo" placeholder="Enter your Company Logo"/>
            </div>
          </div>
        </div>

        <div class="form-group ">
          <button type="submit" ng-disabled="companyForm.$invalid" class="btn btn-primary btn-lg btn-block login-button">Register</button>
        </div>
        <div class="login-register">
          <a href="/#/login">Login</a>
        </div>
      </form>
    </div>
  </div>
</div>
